/* Styling the TreeView based on OC styleguide */
// Custom RCTree handleIcons instead of using the defaults:

// You can add more FA icons using e.g.:
// http://astronautweb.co/snippet/font-awesome/
// as reference

/* ## CHEVRONs ## */
// chevron-left: "\f053"      <
// chevron-right: "\f054"     >
// chevron-up: "\f077"        ^
// chevron-down: "\f078"      v

.oc-react-tree li.chevron {
  span.rc-tree-switcher {
    background-image: none;
    position: relative;
  }

  span.rc-tree-switcher_open:before {
    content: "\f054"; // chevron-right
    font-family: "FontAwesome";
    position: absolute;
  }

  span.rc-tree-switcher_close:before {
    content: '\f078'; // chevron-down
    font-family: "FontAwesome";
    position: absolute;
  }
}

/* ## ARROWs ## */
// fa-arrow-left"\f060"
// fa-arrow-right"\f061"
// fa-arrow-up"\f062"
// fa-arrow-down"\f063"
.oc-react-tree li.arrow {
  span.rc-tree-switcher {
    background-image: none;
    position: relative;
  }

  span.rc-tree-switcher_open:before {
    content: "\f061"; // arrow-right
    font-family: "FontAwesome";
    position: absolute;
  }

  span.rc-tree-switcher_close:before {
    content: '\f063'; // arrow-down
    font-family: "FontAwesome";
    position: absolute;
  }
}

/* Caret :
 *  fa-caret-down   "\f0d7"
 *  fa-caret-up     "\f0d8"
 *  fa-caret-left   "\f0d9"
 *  fa-caret-right  "\f0da"
*/
.oc-react-tree li.carets {
  span.rc-tree-switcher {
    background-image: none;
    position: relative;
  }

  span.rc-tree-switcher_open:before {
    content: "\f0da"; // caret-right
    font-family: "FontAwesome";
    //position: absolute;
  }

  span.rc-tree-switcher_close:before {
    content: "\f0d7"; // caret-down
    font-family: "FontAwesome";
    //position: absolute;
  }
}

.rc-tree {
  .rc-tree-treenode-disabled {
    > span:not(.rc-tree-switcher) {
      cursor: default;
      color: inherit;
    }
  }
}