#plain-tree-example-container {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 1rem;

  // <code> tag styling:
  .config-content {
    display: flex;
    flex-direction: row;
    .property-key {
      flex: 1;
      font-weight: bold;
    }
    .property-value {
      flex: 2;
    }
  }

  .example-tree-container {
    display: flex;
    flex-direction: row;
    .trees {
      flex: 1;
    }
    .console-logging {
      flex: 1;
      border: 1px solid black;
    }
  }
}
